<div class=" container-fluid tele-logo ">
    <div class="row">
        <div class="col-5 tele-sec ">
            <div class="tel "> <img src="../../../assets/imglogo/one.PNG " alt="#"> </div>
        </div>
        <div class="col-7 nav-sec ">
            <div class="logo">
                <nav class="nav"> <a routerLink="/home"  *ngIf="!loggedIn">Home</a> 
                  <a href="# " *ngIf="!loggedIn">Where to shop</a>
                   <a href="# " *ngIf="!loggedIn" >For Business</a>
                    <a href="# " *ngIf="!loggedIn" >About us</a>
                    <a routerLink="/login" *ngIf="!loggedIn" >Login</a>
                    <a href="#" (click)="logout($event)" *ngIf="loggedIn" >Logout</a>
                    <!-- <a [routerLink]="'/signup'" >Signup</a>   -->
                    <!-- <button class="btn btn-success "   >Logout</button>  -->
                </nav>
            </div>
        </div>
        
    </div>
  </div>

  
